{% extends 'base.html' %}

{% block title%} Twitter {% endblock%}

{% block content %}

{% load static %}
<link href="{% static 'css/stock.css' %}" rel="stylesheet" type="text/css">

<div style="width: 100%; height: 2000px; background-color: rgb(255, 255, 255); text-align: center; margin: auto;">
    <br/><h1><i class="fa-brands fa-twitter"></i> Basic Twitter </h1>
    <a href="https://github.com/MoojinK0417/twitter-cloning"><button class="cssbuttons-io">
        <span><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z" fill="currentColor"></path></svg> Code</span>
      </button>
    </a>

      <h1>Preparing... 99% complete.</h1>
      <h2>Check code now.</h2>
</div>


















<div style="width: 100%; height: 150px; position:absolute; background-color:  #443657; color: white;">
    <div style="width: 20%;  position: absolute; left: 50%; top: 30px; text-align: center;">
    {% url 'home' as home_url %}
    <span>{% if request.path == home_url %}Home{% else %}<a href="{{ home_url }} "style=" color: white;">Home</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
    {% url 'project' as project_url %}
    <span>{% if request.path == project_url %}Project{% else %}<a href="{{ project_url }}" style=" color: white;">Project</a>{% endif %}</span>
    <!-- {% url 'contact' as contact_url %}
    <span>{% if request.path == contact_url %}Contact{% else %}<a href="{{ contact_url }}" style=" color: white;">Contact</a>{% endif %}</span> -->
    </div>
    <div style="width: 30%;  position: absolute; left: 20%;">
        <h1>Moojin</h1>
        <p>Jr. Full stack developer</p>
    </div>
</div>

{% endblock %}